<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios-->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <style>
        #app {
            height: 95vh;
        }

        .index-container {
            height: 100%;
        }

        .header {
            background: #409EFF;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            margin: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .aside {
            background: #A7CFF9;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            margin: 3px;
            padding: 5px;
        }

        .main {
            background: #DEE9F4;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            margin: 3px;
        }

        .header-title {
            font-family: 'PingFang SC';
            font-size: 24px;
            color: #FFFFFF;
        }

        .main-table {
            border: 1px solid #DCDFE6;
            border-radius: 4px;
        }

        .margin-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    </style>
</head>
<body>
<div id="app">
    <el-container class="index-container">
        <!-- 顶栏 -->
        <el-header class="header">
            <div>
                <span class="header-title el-icon-reading">  图书借阅系统</span>
            </div>
            <div>
                <el-button type="primary" icon="el-icon-user">登录 / 注册</el-button>
            </div>
        </el-header>
        <el-container>
            <!-- 侧边栏 -->
            <el-aside class="aside">
                <el-menu
                        default-active=1
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose">
                    <el-menu-item index="1" @click="chooseActive(1)">
                        <template slot="title">
                            <i class="el-icon-s-management"></i>
                            <span>图书借阅</span>
                        </template>
                    </el-menu-item>
                    <el-menu-item index="2" @click="chooseActive(2)">
                        <template slot="title">
                            <i class="el-icon-s-management"></i>
                            <span>已借阅书籍</span>
                        </template>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <!-- 主要区域 -->
            <el-main class="main">
                <el-container v-if="active == 1">
                    <el-header class="margin-title">
                        <p>图书列表</p>
                    </el-header>
                    <template>
                        <el-table :data="tableData" style="width: 100%" class="main-table" max-height="750">
                            <el-table-column
                                    prop="id"
                                    label="图书号"
                                    width="180"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="图书名称"
                                    width="380"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="category"
                                    label="图书类别"
                                    width="280"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="number"
                                    label="库存数量"
                                    width="80"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    align="center">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            @click="dialogFormVisible = true"
                                            v-on:click="handleEdit(scope.$index, scope.row)"
                                            :plain="true">借阅
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-container>
                <el-container v-if="active == 2">
                    <el-header class="margin-title">
                        <p>已借阅图书列表</p>
                    </el-header>
                    <template>
                        <el-table :data="tableData" style="width: 100%" class="main-table" max-height="750">
                            <el-table-column
                                    prop="id"
                                    label="借阅id"
                                    width="150"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="book_name"
                                    label="图书名称"
                                    width="300"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="book_category"
                                    label="图书类别"
                                    width="300"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="borrow_returnDate"
                                    label="归还日期"
                                    width="300"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    align="center">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            @click="dialogFormVisible = true"
                                            v-on:click="handleEdit(scope.$index, scope.row)"
                                            :plain="true">归还
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-container>
            </el-main>
        </el-container>
    </el-container>


</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            active: 1,
            tableData: [],
            dialogFormVisible: false,
            setDialogForm: 0,
            formLabelWidth: '120px'
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleEdit(index, row) {
                console.log(index, row);
                this.setDialogForm = 1
                this.id = row.id
            },
            chooseActive(id) {
                this.active = id
                this.getAllData()
            },
            getAllData() {
                axios
                    .post('http://127.0.0.1:8000/reader_read', {
                        tableId: this.active,
                        userId: 7,      /*测试用userid*/
                    })
                    .then(response => (this.tableData = response.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                // console.log(this.tableData)
            },
        },
        created() {
            this.getAllData()
        },

    })

</script>
</html>