<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios-->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <style>
        #app {
            height: 95vh;
        }

        .index-container {
            height: 100%;
        }

        .header {
            background: #409EFF;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            margin: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .aside {
            background: #A7CFF9;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            margin: 3px;
            padding: 5px;
        }

        .main {
            background: #DEE9F4;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            margin: 3px;
        }

        .header-title {
            font-family: 'PingFang SC';
            font-size: 24px;
            color: #FFFFFF;
        }

        .main-table {
            border: 1px solid #DCDFE6;
            border-radius: 4px;
        }

        .margin-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    </style>
</head>
<body>
<div id="app">
    <el-container class="index-container">
        <!-- 顶栏 -->
        <el-header class="header">
            <div>
                <span class="header-title el-icon-reading">  图书管理系统</span>
            </div>
            <div>
                <el-button type="primary" icon="el-icon-user">登录 / 注册</el-button>
            </div>
        </el-header>
        <el-container>
            <!-- 侧边栏 -->
            <el-aside class="aside">
                <el-menu
                        :default-active=active
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose">
                    <el-menu-item index="1" @click="chooseActive(1)">
                        <template slot="title">
                            <i class="el-icon-s-management"></i>
                            <span>图书库存管理</span>
                        </template>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-s-custom"></i>
                            <span>账号管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1"><div @click="chooseActive(2)">用户账号管理</div></el-menu-item>
                            <el-menu-item index="2-2"><div @click="chooseActive(3)">管理员账号管理</div></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <!-- 主要区域 -->
            <el-main class="main">
                <el-container v-if="active == 1">
                    <el-header class="margin-title">
                        <p>图书库存管理</p>
                        <el-button type="primary" round @click="dialogFormVisible = true" :plain="true">添加</el-button>
                    </el-header>
                    <template>
                        <el-table :data="tableData" style="width: 100%" class="main-table" max-height="750">
                            <el-table-column
                                    prop="id"
                                    label="图书号"
                                    width="180"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="图书名称"
                                    width="380"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="category"
                                    label="图书类别"
                                    width="280"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="number"
                                    label="库存数量"
                                    width="80"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    align="center">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            @click="dialogFormVisible = true"
                                            v-on:click="handleEdit(scope.$index, scope.row)"
                                            :plain="true"
                                    >修改
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-container>
                <el-container v-if="active == 2">
                    <el-header class="margin-title">
                        <p>用户账号管理</p>
                        <el-button type="primary" round @click="dialogFormVisible = true" :plain="true">添加</el-button>
                    </el-header>
                    <template>
                        <el-table :data="tableData" style="width: 100%" class="main-table" max-height="750">
                            <el-table-column
                                    prop="id"
                                    label="用户id"
                                    width="150"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="username"
                                    label="用户名"
                                    width="400"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="password"
                                    label="密码"
                                    width="400"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    align="center">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            @click="dialogFormVisible = true"
                                            v-on:click="handleEdit(scope.$index, scope.row)"
                                            :plain="true"
                                    >修改
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-container>
                <el-container v-if="active == 3">
                    <el-header class="margin-title">
                        <p>管理员账号管理</p>
                        <el-button type="primary" round @click="dialogFormVisible = true" :plain="true">添加</el-button>
                    </el-header>
                    <template>
                        <el-table :data="tableData" style="width: 100%" class="main-table" max-height="750">
                            <el-table-column
                                    prop="id"
                                    label="用户id"
                                    width="150"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="username"
                                    label="用户名"
                                    width="400"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="password"
                                    label="密码"
                                    width="400"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    align="center">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            @click="dialogFormVisible = true"
                                            v-on:click="handleEdit(scope.$index, scope.row)"
                                            :plain="true"
                                    >修改
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-container>
            </el-main>
        </el-container>
    </el-container>

    <!-- addForm -->
    <el-dialog v-if="active==1" :title=setDialogForm?"修改书籍":"添加书籍" :visible.sync="dialogFormVisible" center>
        <!-- 添加书籍对话框 -->
        <el-form v-if="!setDialogForm" :model="form">
            <el-form-item label="图书名称" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图书类别" :label-width="formLabelWidth">
                <el-input v-model="form.category" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="库存数量" :label-width="formLabelWidth">
                <el-input v-model="form.number" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div v-if="!setDialogForm" slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" v-on:click="addData">确 定</el-button>
        </div>
        <!-- 修改书籍对话框 -->
        <el-form v-if="setDialogForm" :model="form">
            <el-form-item label="图书号" :label-width="formLabelWidth">
                <el-input v-model="form.id" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="图书名称" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图书类别" :label-width="formLabelWidth">
                <el-input v-model="form.category" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="库存数量" :label-width="formLabelWidth">
                <el-input v-model="form.number" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div v-if="setDialogForm" slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" v-on:click="updateData">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog v-if="active==2" :title=setDialogForm?"修改用户账号":"添加用户账号" :visible.sync="dialogFormVisible" center>
        <!-- 添加书籍对话框 -->
        <el-form v-if="!setDialogForm" :model="form">
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <el-input v-model="form.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户密码" :label-width="formLabelWidth">
                <el-input v-model="form.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div v-if="!setDialogForm" slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" v-on:click="addData">确 定</el-button>
        </div>
        <!-- 修改书籍对话框 -->
        <el-form v-if="setDialogForm" :model="form">
            <el-form-item label="用户id" :label-width="formLabelWidth">
                <el-input v-model="form.id" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <el-input v-model="form.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户密码" :label-width="formLabelWidth">
                <el-input v-model="form.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div v-if="setDialogForm" slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" v-on:click="updateData">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog v-if="active==3" :title=setDialogForm?"修改管理员账号":"添加管理员账号" :visible.sync="dialogFormVisible" center>
        <!-- 添加书籍对话框 -->
        <el-form v-if="!setDialogForm" :model="form">
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <el-input v-model="form.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户密码" :label-width="formLabelWidth">
                <el-input v-model="form.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div v-if="!setDialogForm" slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" v-on:click="addData">确 定</el-button>
        </div>
        <!-- 修改书籍对话框 -->
        <el-form v-if="setDialogForm" :model="form">
            <el-form-item label="管理员id" :label-width="formLabelWidth">
                <el-input v-model="form.id" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="管理员名" :label-width="formLabelWidth">
                <el-input v-model="form.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="管理员密码" :label-width="formLabelWidth">
                <el-input v-model="form.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div v-if="setDialogForm" slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false" v-on:click="updateData">确 定</el-button>
        </div>
    </el-dialog>


</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            active: '1',
            tableData: [],
            dialogFormVisible: false,
            setDialogForm: 0,
            form: {},
            formLabelWidth: '120px'
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },

            handleEdit(index, row) {
                console.log(index, row);
                this.setDialogForm = 1
                this.form = JSON.parse(JSON.stringify(row))
                this.id = index
            },
            handleDelete(index, row) {
                console.log(index, row)
                const _self = this
                const id = row.id;
                axios.post('http://127.0.0.1:8000/remove', {
                    active: this.active,
                    id: id,
                }).then(res => {
                    console.log(res)
                    if (res) {
                        _self.$message({
                            message: '恭喜你，删除成功！',
                            type: 'success'
                        });
                        _self.getAllData()
                    } else {
                        _self.$message({
                            message: '对不起，删除失败！',
                            type: 'warning'
                        });
                        _self.getAllData()
                    }
                }).catch(error => {
                    console.log(error);
                    _self.$message.error({
                        message: '出错了！',
                    });
                    _self.getAllData()
                })
            },

            chooseActive(id) {
                this.active = id
                this.getAllData()
            },
            getAllData() {
                axios
                    .get('http://127.0.0.1:8000/index/' + this.active)
                    .then(response => (this.tableData = response.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                // console.log(this.tableData)
            },
            addData() {
                console.log(this.form)
                const _self = this
                axios
                    .post('http://127.0.0.1:8000/index', {
                        active: this.active,
                        data: this.form,
                    })
                    .then(function (response) {
                        console.log(response);
                        if (response.data) {
                            _self.$message({
                                message: '恭喜你，添加成功！',
                                type: 'success'
                            });
                            _self.form = {}
                            console.log(_self.form)
                            _self.getAllData()
                        } else {
                            _self.$message({
                                message: '对不起，添加失败！',
                                type: 'warning'
                            });
                            _self.getAllData()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        _self.$message.error({
                            message: '出错了！',
                        });
                        _self.getAllData()
                    });
            },
            updateData() {
                console.log('update', this.id)
                const _self = this
                axios
                    .post('http://127.0.0.1:8000/modify', {
                        active: this.active,
                        data: this.form,
                        id: this.id
                    })
                    .then(function (response) {
                        console.log(response);
                        if (response.data) {
                            _self.$message({
                                message: '恭喜你，修改成功！',
                                type: 'success'
                            });
                            _self.form = {}
                            // console.log(_self.form)
                            _self.getAllData()
                        } else {
                            _self.$message({
                                message: '对不起，修改失败！'+response.data,
                                type: 'warning'
                            });
                            _self.getAllData()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        _self.$message.error({
                            message: '出错了！',
                        });
                        _self.getAllData()
                    });
            },
        },
        created() {
            this.getAllData()
        },

    })

</script>
</html>